<footer class="footer">
  <div class="inner py-xl">
    <div class="flex gap mb-lg flex-col md:flex-row">
      <div class="flex-1 flex flex-col gap">
        <img
          src="/static/images/asf_logo_full_horizontal_white.svg"
          width="300"
          alt="ASF White Logo"
        />
        <p>
          Apache, Apache Thrift and the Apache logo are trademarks of
          <a href="https://www.apache.org">The Apache Software Foundation</a>
        </p>
      </div>
      <div class="flex-1 flex gap-medium">
        <div class="flex flex-col flex-1">
          <div class="footer-nav-group">
            <h5>Resources</h5>
            <ul class="list-unstyled" role="menu">
              <li role="none">
                <a role="menuitem" href="/docs/">Docs</a>
              </li>
              <li role="none">
                <a href="/tutorial/">Guides</a>
              </li>
              <li role="none">
                <a role="menuitem" href="/download">Download</a>
              </li>
              <li role="none">
                <a role="menuitem" href="/changelog">Changelog</a>
              </li>
              <li role="none">
                <a role="menuitem" href="/lib/">Libraries</a>
              </li>
              <li role="none">
                <a href="/static/files/thrift-20070401.pdf">Whitepaper</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="footer-nav-group">
            <h5>Community</h5>
            <ul class="list-unstyled" role="menu">
              <li role="none">
                <a role="menuitem" href="/mailing"> Mailing Lists </a>
              </li>
              <li role="none">
                <a role="menuitem" href="{{ site.jira_url }}" target="_blank">
                  Issue Tracking
                </a>
              </li>
              <li role="none">
                <a role="menuitem" href="/docs/HowToContribute" target="_blank">
                  How To Contribute
                </a>
              </li>
              <li role="none">
                <a role="menuitem" href="/developers">Developers</a>
              </li>
              <li role="none">
                <a href="{{ site.git_repo }}" target="_blank">Github</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <div class="footer-nav-group">
            <h5>ASF</h5>
            <ul class="list-unstyled" role="menu">
              <li role="none">
                <a href="https://www.apache.org/" target="_blank" role="menu"
                  >Foundation</a
                >
              </li>
              <li role="none">
                <a
                  href="https://www.apache.org/licenses/"
                  target="_blank"
                  role="menu"
                  >License</a
                >
              </li>
              <li role="none">
                <a
                  href="https://www.apache.org/foundation/sponsorship.html"
                  target="_blank"
                  role="menu"
                  >Donate</a
                >
              </li>
              <li role="none">
                <a href="https://events.apache.org/" target="_blank" role="menu"
                  >Events</a
                >
              </li>
              <li role="none">
                <a
                  href="https://www.apache.org/foundation/thanks.html"
                  target="_blank"
                  role="menu"
                  >Thanks</a
                >
              </li>
              <li role="none">
                <a
                  href="https://www.apache.org/security/"
                  target="_blank"
                  role="menu"
                  >Security</a
                >
              </li>
              <li role="none">
                <a
                  href="https://privacy.apache.org/policies/privacy-policy-public.html"
                  target="_blank"
                  role="menu"
                  >Privacy</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">
      Copyright © 2026 The Apache Software Foundation, Licensed under the
      <a class="license" href="https://www.apache.org/licenses/LICENSE-2.0"
        >Apache License, Version 2.0</a
      >
    </p>
  </div>
</footer>
