<header id="top-header" data-pagefind-ignore="all">
  <div class="inner center py-md">
    <a href="/" class="logo">
      <img
        src="/static/images/thrift.svg"
        height="48"
        alt="Apache Thrift Logo"
        class="logo"
    /></a>
  </div>
  <nav aria-label="Main navigation">
    <div class="inner">
      <ul class="nav-list" role="list">
        <li><a href="/docs/">Docs</a></li>
        <li><a href="/lib/">Libraries</a></li>
        <li><a href="/tutorial/">Guides</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
  </nav>
  <div class="hrline"></div>
</header>
