<header id="top-header" data-pagefind-ignore="all">
  <div class="header-banner"></div>
  <div class="inner text-center py-medium">
    <a href="/" class="logo">
      <img
        src="/static/images/logo_thrift_color.svg"
        height="100"
        text="Apache Thrift &trade;"
        alt="Apache Thrift &trade; Logo"
        class="logo"
    /></a>
  </div>
  <nav aria-label="Main navigation">
    <div class="inner">
      <ul class="nav-list" role="list">
        <li><a href="/docs">Docs</a></li>
        <li><a href="/lib">Libraries</a></li>
        <li><a href="/tutorial">Guides</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>
</header>
