/* Code typography styles for the <code> and <pre> elements */

code,
pre {
  padding: 0 3px 2px;
  font-family:
    "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
  color: #333;
  border-radius: 3px;
}

code {
  padding: 3px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  overflow-x: auto;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

