<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/images/favicon.png" rel="shortcut icon" />
    <link rel="preload" href="/static/fonts/Montserrat-Bold.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/static/fonts/OpenSans-Regular.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/static/fonts/OpenSans-Bold.ttf" as="font" type="font/ttf" crossorigin />
    <link href="/static/css/new-style.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/rouge.css" rel="stylesheet" type="text/css" />

    <script src="/static/js/thrift.js" defer></script>

    <title>{{ site.title }} - {{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    {% unless page.home %}
    <div class="head py-lg"> 
      <div class="inner">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    {% endunless %}
    <main class="{% if page.home %}home{% else %}my-lg inner{% endif %}">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
